<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794438040718-882a2n0b8q6ak59cl8ea76l58bk11of3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794438040718-882a2n0b8q6ak59cl8ea76l58bk11of3</string>
	<key>API_KEY</key>
	<string>AIzaSyDs__EttKBxByOHR_pzc-4x1n6DJVt7RTY</string>
	<key>GCM_SENDER_ID</key>
	<string>794438040718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kahoot</string>
	<key>PROJECT_ID</key>
	<string>kahoot-c3b84</string>
	<key>STORAGE_BUCKET</key>
	<string>kahoot-c3b84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794438040718:ios:186256f26f365da33f1ddf</string>
</dict>
</plist>